/* Nivolightbox
---------------*/

	.nivo-lightbox-content,.nivo-lightbox-overlay{height:100%;width:100%}

	.nivo-lightbox-overlay{
		position:fixed;top:0;left:0;z-index:99998;overflow:hidden;visibility:hidden;opacity:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}

	.nivo-lightbox-overlay.nivo-lightbox-open{visibility:visible;opacity:1}

	.nivo-lightbox-wrap{
		margin:0 auto;
		text-align: center;
		height: 100%;
	}

	.nivo-lightbox-nav{display:none}

	.nivo-lightbox-prev{
		transition: all 300ms ease-out;
		position:absolute;top:50%;left:0;color: #ffffff;
	}
	.nivo-lightbox-next{
		transition: all 300ms ease-out;
		position:absolute;top:50%;right:0;color: #ffffff;
	}

	.nivo-lightbox-close{
		transition: all 300ms ease-out;
		position:absolute;color: #ffffff !important;right:0;top:0;
	}

	.nivo-lightbox-prev,
	.nivo-lightbox-next,
	.nivo-lightbox-close {
		width: 48px;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
		text-align: center;
	}

	.nivo-lightbox-prev,
	.nivo-lightbox-next,
	.nivo-lightbox-close {
		color: #ffffff !important;
		background-color: rgba(0,0,0,0.3);
		opacity: 1;
	}

	.nivo-lightbox-image{text-align:center}
	.nivo-lightbox-image img{
		max-width:100%;
		max-height:100vh;
		width:auto;height:auto;
		vertical-align:middle;
	}

	.nivo-lightbox-content iframe,
	.nivo-lightbox-error{width:100%;height:100%}

	.nivo-lightbox-ajax,
	.nivo-lightbox-inline{
		max-height:100%;overflow:auto;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;box-sizing:border-box
	}

	.nivo-lightbox-error{display:table;text-align:center;color:#fff;text-shadow:0 1px 1px #000}
	.nivo-lightbox-error p{display:table-cell;vertical-align:middle}

	.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale {
		-ms-transition:all 300ms ease-out;
		transition:all 300ms ease-out;
	}

	.nivo-lightbox-wrap{
		-ms-transition:all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		transition:all 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		-moz-transform:scale(.8);
		-ms-transform:scale(.8);
		transform:scale(.8)
	}

	.nivo-lightbox-open .nivo-lightbox-wrap{
		-ms-transform:scale(1);
		transform:scale(1);
		-ms-transition:all 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
		transition:all 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	}

	.nivo-lightbox-overlay{background:#000000;}

	.nivo-lightbox-nav{
		top:50%;
	}

	.nivo-lightbox-close:hover{opacity:1;color: #ffffff !important;}
	.nivo-lightbox-title{
		background:#000;
		color:#fff;
		padding:8px 16px;
		width: 100%;
		position: fixed;
		bottom:0;
		left: 0;
		z-index: 99999999999999999999;
	}
	.nivo-lightbox-image img{background:#fff;box-shadow:0 1px 1px rgba(0,0,0,.4)}
	
	.nivo-lightbox-ajax,
	.nivo-lightbox-inline
	{background:#fff;padding:40px;box-shadow:0 1px 1px rgba(0,0,0,.4)}


	.nivo-lightbox-content.nivo-lightbox-loading{
		background:url(../images/loading.gif) 50% 50% no-repeat
	}

	.nivo-lightbox-close{
		display:block;
	}

/* enovathemes icons
---------------*/

	@font-face {
	  font-family: 'enova';
	  src:  url('../fonts/enova.eot?rdy977');
	  src:  url('../fonts/enova.eot?rdy977#iefix') format('embedded-opentype'),
	    url('../fonts/enova.ttf?rdy977') format('truetype'),
	    url('../fonts/enova.woff?rdy977') format('woff'),
	    url('../fonts/enova.svg?rdy977#enova') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	[class^="ien-"], [class*=" ien-"],
	.nivo-lightbox-nav,
	.nivo-lightbox-close {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'enova' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.nivo-lightbox-nav,
	.nivo-lightbox-close {
		text-decoration: none;
		outline: none;
	}

	.nivo-lightbox-nav {
		display: none !important;
	}

	.nivo-lightbox-nav:before{content: '\e903';}

	.nivo-lightbox-prev:before {
		transform: rotate(180deg);
		position: relative;
		display: block;
	}

	.nivo-lightbox-close:before {
		content:"\e914" !important;
	}

	.ien-earrow-1:before {
	  content: "\e900";
	}
	.ien-earrow-2:before {
	  content: "\e901";
	}
	.ien-earrow-3:before {
	  content: "\e902";
	}
	.ien-earrow-4:before {
	  content: "\e903";
	}
	.ien-earrow-5:before {
	  content: "\e904";
	}
	.ien-earrow-6:before {
	  content: "\e905";
	}
	.ien-earrow-7:before {
	  content: "\e906";
	}
	.ien-earrow-8:before {
	  content: "\e907";
	}
	.ien-earrow-9:before {
	  content: "\e908";
	}
	.ien-earrow-10:before {
	  content: "\e909";
	}
	.ien-earrow-111:before {
	  content: "\e90a";
	}
	.ien-earrow-12:before {
	  content: "\e90b";
	}
	.ien-earrow-13:before {
	  content: "\e90c";
	}
	.ien-earrow-14:before {
	  content: "\e90d";
	}


	.ien-eclose-1:before {
	  content: "\e90e";
	}
	.ien-eclose-2:before {
	  content: "\e90f";
	}
	.ien-eclose-3:before {
	  content: "\e910";
	}
	.ien-eclose-4:before {
	  content: "\e911";
	}
	.ien-eclose-5:before {
	  content: "\e912";
	}
	.ien-eclose-6:before {
	  content: "\e913";
	}
	.ien-eclose-7:before {
	  content: "\e914";
	}
	.ien-eclose-8:before {
	  content: "\e915";
	}
	.ien-eclose-9:before {
	  content: "\e916";
	}
	.ien-eclose-10:before {
	  content: "\e917";
	}
	.ien-eclose-11:before {
	  content: "\e918";
	}
	.ien-eclose-12:before {
	  content: "\e919";
	}


	.ien-ecart-1:before {
	  content: "\e91a";
	}
	.ien-ecart-2:before {
	  content: "\e91b";
	}
	.ien-ecart-3:before {
	  content: "\e91c";
	}
	.ien-ecart-4:before {
	  content: "\e91d";
	}
	.ien-ecart-5:before {
	  content: "\e91e";
	}
	.ien-ecart-6:before {
	  content: "\e91f";
	}
	.ien-ecart-7:before {
	  content: "\e920";
	}
	.ien-ecart-8:before {
	  content: "\e921";
	}
	.ien-ecart-9:before {
	  content: "\e922";
	}
	.ien-ecart-10:before {
	  content: "\e923";
	}
	.ien-ecart-11:before {
	  content: "\e924";
	}
	.ien-ecart-12:before {
	  content: "\e925";
	}
	.ien-ecart-13:before {
	  content: "\e926";
	}
	.ien-ecart-14:before {
	  content: "\e927";
	}
	.ien-ecart-15:before {
	  content: "\e928";
	}
	.ien-ecart-16:before {
	  content: "\e929";
	}
	.ien-ecart-17:before {
	  content: "\e92a";
	}
	.ien-ecart-18:before {
	  content: "\e92b";
	}
	.ien-ecart-19:before {
	  content: "\e92c";
	}
	.ien-ecart-20:before {
	  content: "\e92d";
	}
	.ien-ecart-21:before {
	  content: "\e92e";
	}
	.ien-ecart-22:before {
	  content: "\e92f";
	}
	.ien-ecart-23:before {
	  content: "\e930";
	}
	.ien-ecart-24:before {
	  content: "\e931";
	}
	.ien-ecart-25:before {
	  content: "\e932";
	}
	.ien-ecart-26:before {
	  content: "\e933";
	}
	.ien-ecart-27:before {
	  content: "\e934";
	}
	.ien-ecart-28:before {
	  content: "\e935";
	}
	.ien-ecart-29:before {
	  content: "\e936";
	}
	.ien-ecart-30:before {
	  content: "\e937";
	}
	.ien-ecart-31:before {
	  content: "\e938";
	}
	.ien-ecart-32:before {
	  content: "\e939";
	}
	.ien-ecart-33:before {
	  content: "\e93a";
	}
	.ien-ecart-34:before {
	  content: "\e93b";
	}
	.ien-ecart-35:before {
	  content: "\e93c";
	}
	.ien-ecart-36:before {
	  content: "\e93d";
	}
	.ien-ecart-37:before {
	  content: "\e93e";
	}
	.ien-ecart-38:before {
	  content: "\e93f";
	}
	.ien-ecart-39:before {
	  content: "\e940";
	}
	.ien-ecart-40:before {
	  content: "\e941";
	}
	.ien-ecart-41:before {
	  content: "\e942";
	}
	.ien-ecart-42:before {
	  content: "\e943";
	}
	.ien-ecart-43:before {
	  content: "\e944";
	}


	.ien-esearch-1:before {
	  content: "\e945";
	}
	.ien-esearch-2:before {
	  content: "\e946";
	}
	.ien-esearch-3:before {
	  content: "\e947";
	}
	.ien-esearch-4:before {
	  content: "\e948";
	}
	.ien-esearch-5:before {
	  content: "\e949";
	}
	.ien-esearch-6:before {
	  content: "\e94a";
	}
	.ien-esearch-7:before {
	  content: "\e94b";
	}
	.ien-esearch-8:before {
	  content: "\e94c";
	}
	.ien-esearch-9:before {
	  content: "\e94d";
	}
	.ien-esearch-10:before {
	  content: "\e94e";
	}
	.ien-esearch-11:before {
	  content: "\e94f";
	}
	.ien-esearch-12:before {
	  content: "\e950";
	}
	.ien-esearch-13:before {
	  content: "\e951";
	}
	.ien-esearch-14:before {
	  content: "\e952";
	}
	.ien-esearch-15:before {
	  content: "\e953";
	}
	.ien-esearch-16:before {
	  content: "\e954";
	}
	.ien-esearch-17:before {
	  content: "\e955";
	}
	.ien-esearch-18:before {
	  content: "\e956";
	}
	.ien-esearch-19:before {
	  content: "\e957";
	}
	.ien-esearch-20:before {
	  content: "\e958";
	}

	.ien-emenu-1:before {
	  content: "\e959";
	}
	.ien-emenu-2:before {
	  content: "\e95a";
	}
	.ien-emenu-3:before {
	  content: "\e95b";
	}
	.ien-emenu-4:before {
	  content: "\e95c";
	}
	.ien-emenu-5:before {
	  content: "\e95d";
	}
	.ien-emenu-6:before {
	  content: "\e95e";
	}
	.ien-emenu-7:before {
	  content: "\e95f";
	}
	.ien-emenu-8:before {
	  content: "\e960";
	}

	.ien-euser-1:before {
	  content: "\e961";
	}
	.ien-euser-2:before {
	  content: "\e962";
	}
	.ien-euser-3:before {
	  content: "\e963";
	}
	.ien-euser-4:before {
	  content: "\e964";
	}
	.ien-euser-5:before {
	  content: "\e965";
	}
	.ien-euser-6:before {
	  content: "\e966";
	}
	.ien-euser-7:before {
	  content: "\e967";
	}
	.ien-euser-8:before {
	  content: "\e968";
	}
	.ien-euser-9:before {
	  content: "\e969";
	}
	.ien-euser-10:before {
	  content: "\e96a";
	}
	.ien-euser-11:before {
	  content: "\e96b";
	}
	.ien-euser-12:before {
	  content: "\e96c";
	}
	.ien-euser-13:before {
	  content: "\e96d";
	}
	.ien-euser-14:before {
	  content: "\e96e";
	}
	.ien-euser-15:before {
	  content: "\e96f";
	}
	.ien-euser-16:before {
	  content: "\e970";
	}
	.ien-euser-17:before {
	  content: "\e971";
	}

/* General
---------------*/

	.select-230 select {min-width: 230px;}

	.megamenu-opt {
		padding-bottom: 10px;
	}

	/*visual composer fix*/
	.vc_ui-panel.vc_ui-panel-window {
		z-index: 50000 !important;
	}

	.et-clearfix:after {content:"";display:table;clear:both}

	.widefull {
		width: 100% !important;
	}

	.menu-icon-header .wp-menu-image:before,
	.menu-icon-footer .wp-menu-image:before,
	.menu-icon-title .wp-menu-image:before,
	.menu-icon-megamenu .wp-menu-image:before,
	.menu-icon-title_section .wp-menu-image:before
	{color:#ffd311 !important;}

	.wp-menu-open.menu-icon-header .wp-menu-image:before,
	.wp-menu-open.menu-icon-footer .wp-menu-image:before,
	.wp-menu-open.menu-icon-title .wp-menu-image:before,
	.wp-menu-open.menu-icon-megamenu .wp-menu-image:before,
	.wp-menu-open.menu-icon-title_section .wp-menu-image:before
	{color:#ffffff !important;}

	.menu-item.menu-item-depth-2 .megamenu-opt,
	.menu-item.menu-item-depth-3 .megamenu-opt,
	.menu-item.menu-item-depth-4 .megamenu-opt,
	.menu-item.menu-item-depth-5 .megamenu-opt {
		display: none !important;
	}

	.post-option-megamenu-stretch {
		display: none;
	}

	.column-format,
	.column-layout,
	.column-additional,
	.column-title_section,
	.column-footer,
	.column-desktop_header,
	.column-mobile_header,
	.column-type,
	.column-visibility {
		vertical-align: middle !important;
	}

	.custom-meta-ind {
		display: inline-block;
		padding: 3px 12px 6px 12px;
		border-radius: 3px;
		margin:0 5px 5px 0;
		background-color: #0073aa;
		text-align: center;
		color: #ffffff !important;
		font-weight: 700;
	}

	.indicator-2 {
		background-color: #d54e21;
	}

	.indicator-3,
	.active-footer,
	.active-header {
		background-color: #46b450;
	}

	.indicator-4 {
		background-color:#ffb900;
	}

	.indicator-5 {
		background-color:#ffd311;
	}

	.header-active {
		cursor: help;
	}

	.redux-notice-field.info-normal {
		border-left: 4px solid #0073aa !important;
		background-color: #f3f3f3 !important;
		font-weight: 700;
		padding:0 16px !important;
	}

	.redux-notice-field.info-normal p {
		font-size: 18px !important;
	}

	.admin-color-fresh #redux-header, .wp-customizer #redux-header {
	    background: #0073aa !important;
	    border-color: #0073aa !important;
	}

	.redux-container #redux-header .display_header h2,
	.admin-color-fresh #redux-header .display_header span, 
	.wp-customizer #redux-header .display_header span {
	    font-size: 28px !important;
	    line-height: 28px !important;
	    text-transform: uppercase !important;
	    vertical-align: middle !important;
	}

	.admin-color-fresh #redux-header .display_header span, 
	.wp-customizer #redux-header .display_header span {
		color: #0073aa !important;
	    display: inline-block !important;
	    margin-left: 8px !important;
	    border-radius: 4px !important;
	    font-weight: 700 !important;
	    padding: 6px 16px 8px 16px !important;
	    background-color: #ffffff !important;
	}

	.redux-container #redux-header .display_header span.redux-dev-mode-notice {
		display: none !important;
	}

	.redux-container-image_select .redux-image-select li {
		text-align: center !important;
		margin:4px !important;
	}

	.redux-container-image_select .redux-image-select-selected {
		background-color: transparent !important;
	}

	#customize-control-woocommerce_catalog_rows,
	#customize-control-woocommerce_catalog_columns,
	#enovathemes_addons_title_section_options_metabox,
	#enovathemes_addons_products_options_metabox,
	.vc_ui-list-bar-item-actions button:nth-child(3)
	{display: none !important;}

	.compose-mode #vc_templates-editor-button {
		display: none !important;
	}

	#vc_ui-panel-edit-element[data-vc-shortcode="et_projects"] .vc_edit-form-tab-control[data-tab-index="1"] {
		display: none;
	}

	.post-type-project .wpb_switch-to-front-composer,
	.post-type-product .wpb_switch-to-front-composer,
	.post-type-default .wpb_switch-to-front-composer {
		display: none !important;
	}

	.custom-intro-text {
		background: #ffffff;
		padding: 30px;
	}

	.custom-intro-text ul {
		list-style: none;
		margin:0;
		padding: 0;
	}

	.custom-intro-text ul li {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
	}

	.custom-intro-text p {
		font-size: 16px;
		line-height: 26px;
	}

	.custom-intro-text ul.code {
		list-style:inside;
		margin:0;
		padding: 0;
	}

	.custom-intro-text ul.code li {
		margin:0;
		padding: 0;
	}

/* Elements
----------------*/

	i[class*="et_"] {
		border-radius: 6px !important;
	}

	i[class*="mce-i-icon"] {
		background-size: 20px 20px;
	}

	.mce-i-icon.icon-highlight {background:url(../images/elements/highlighter.png) no-repeat left top;}
	.mce-i-icon.icon-dropcap   {background:url(../images/elements/dropcap.png) no-repeat left top;}
	.mce-i-icon.icon-font-size {background:url(../images/elements/font_size.png) no-repeat left top;}
	.mce-i-icon.icon-link {background:url(../images/elements/link.png) no-repeat left top;}

	i.et_gap       {background: #9C27B0 url(../images/elements/et_gap.png) no-repeat center center !important;}
	i.et_gap_inline{background: #9C27B0 url(../images/elements/et_gap_inline.png) no-repeat center center !important;}
	i.et_bullets   {background: #9C27B0 url(../images/elements/et_bullet.png) no-repeat center center !important;}

	/* Typography
	----------------*/

		i.et_highlight_heading {background: #8BC34A url(../images/elements/et_highlight_heading.png) no-repeat center center !important;}
		i.et_heading {background: #8BC34A url(../images/elements/et_heading.png) no-repeat center center !important;}
		i.et_typeit  {background: #8BC34A url(../images/elements/et_typeit.png) no-repeat center center !important;}
		i.et_blockquote {background: #8BC34A url(../images/elements/et_blockquote.png) no-repeat center center !important;}

	/* UI
	----------------*/

		i.et_more_box {background: #2196F3 url(../images/elements/et_more_box.png) no-repeat center center !important;}
		i.et_animate_box {background: #2196F3 url(../images/elements/et_animate_box.png) no-repeat center center !important;}
		i.et_menu {background: #2196F3 url(../images/elements/et_menu.png) no-repeat center center !important;}
		i.et_separator {background: #2196F3 url(../images/elements/et_separator.png) no-repeat center center !important;}
		i.et_icon_separator {background: #2196F3 url(../images/elements/et_icon_separator.png) no-repeat center center !important;}
		i.et_button {background: #2196F3 url(../images/elements/et_button.png) no-repeat center center !important;}
		i.et_alert {background: #2196F3 url(../images/elements/et_alert.png) no-repeat center center !important;}
		i.et_icon {background: #2196F3 url(../images/elements/et_icon.png) no-repeat center center !important;}
		i.et_icon_list {background: #2196F3 url(../images/elements/et_icon_list.png) no-repeat center center !important;}
		
		i.et_accordion,
		i.et_accordion_item
		{background: #2196F3 url(../images/elements/et_accordion.png) no-repeat center center !important;}

		i.et_tab,
		i.et_tab_item
		{background: #2196F3 url(../images/elements/et_tab.png) no-repeat center center !important;}

	/* Social
	----------------*/

		i.et_social_links {background: #00BCD4 url(../images/elements/et_social_links.png) no-repeat center center !important;}
		i.et_social_share {background: #00BCD4 url(../images/elements/et_social_share.png) no-repeat center center !important;}
		i.et_mailchimp {background: #00BCD4 url(../images/elements/et_mailchimp.png) no-repeat center center !important;}
		i.et_instagram {background: #00BCD4 url(../images/elements/et_instagram.png) no-repeat center center !important;}

	/* Selfhosted
	----------------*/

		i.et_icon_box, i.et_icon_box_container {background: #607D8B url(../images/elements/et_icon_box.png) no-repeat center center !important;}
		i.et_step_box, i.et_step_box_container {background: #607D8B url(../images/elements/et_step_box.png) no-repeat center center !important;}

		i.et_carousel,
		i.et_carousel_item
		{background: #607D8B url(../images/elements/et_carousel.png) no-repeat center center !important;}

		i.et_pricing_table {background: #607D8B url(../images/elements/et_pricing_table.png) no-repeat center center !important;}
		
		i.et_testimonial,
		i.et_testimonial_container {background: #607D8B url(../images/elements/et_testimonial.png) no-repeat center center !important;}

		i.et_client,
		i.et_client_container {background: #607D8B url(../images/elements/et_client.png) no-repeat center center !important;}

		i.et_person,
		i.et_person_container {background: #607D8B url(../images/elements/et_person.png) no-repeat center center !important;}

		i.et_map {background: #607D8B url(../images/elements/et_map.png) no-repeat center center !important;}
		i.et_banner {background: #607D8B url(../images/elements/et_banner.png) no-repeat center center !important;}
		i.et_tagline {background: #607D8B url(../images/elements/et_tagline.png) no-repeat center center !important;}

	/* Media
	----------------*/

		i.et_image {background: #4CAF50 url(../images/elements/et_image.png) no-repeat center center !important;}
		i.et_gallery {background: #4CAF50 url(../images/elements/et_gallery.png) no-repeat center center !important;}
		i.et_video {background: #4CAF50 url(../images/elements/et_video.png) no-repeat center center !important;}
		i.et_audio {background: #4CAF50 url(../images/elements/et_audio.png) no-repeat center center !important;}

	/* Infographics
	----------------*/

		i.et_counter {background: #FF9800 url(../images/elements/et_counter.png) no-repeat center center !important;}
		i.et_progress {background: #FF9800 url(../images/elements/et_progress.png) no-repeat center center !important;}
		i.et_circle_progress {background: #FF9800 url(../images/elements/et_circle_progress.png) no-repeat center center !important;}
		i.et_timer {background: #FF9800 url(../images/elements/et_timer.png) no-repeat center center !important;}

	/* Woo
	----------------*/

		i.et_woo_products,
		i.et_woo_categories
		{background: #9b5c8f url(../images/elements/et_woo.png) no-repeat center center !important;}

	/* Posts
	----------------*/

		i.et_posts {background: #FFD600 url(../images/elements/et_posts.png) no-repeat center center !important;}
		i.et_projects,i.et_projects_full, i.et_single_project {background: #FFD600 url(../images/elements/et_projects.png) no-repeat center center !important;}

	/* Widgets
	----------------*/

		i[class*="widget_"] {
			border-radius: 500px !important;
		}

		i.widget_contact_form,
		i.widget_facebook,
		i.widget_flickr,
		i.widget_instagram,
		i.widget_mailchimp,
		i.widget_posts,
		i.widget_login,
		i.widget_product_categories,
		i.widget_products_by_rating,
		i.widget_products,
		i.widget_recent_product_reviews,
		i.widget_recent_viewed_products,
		i.widget_product_tag_cloud {
			background: #2196F3 url(../images/elements/widget.png) no-repeat center center !important;
		}

	/* Header builder
	----------------*/

		i.et_header_mobile_container  {background: #E91E63 url(../images/elements/header_elements_mobile_container.png) no-repeat center center !important;}
		i.et_align_container          {background: #E91E63 url(../images/elements/header_elements_align_container.png) no-repeat center center !important;}
		i.et_vertical_align_top       {background: #E91E63 url(../images/elements/header_elements_vertical_align_top.png) no-repeat center center !important;}
		i.et_vertical_align_middle    {background: #E91E63 url(../images/elements/header_elements_vertical_align_middle.png) no-repeat center center !important;}
		i.et_vertical_align_bottom    {background: #E91E63 url(../images/elements/header_elements_vertical_align_bottom.png) no-repeat center center !important;}
		i.et_header_sidebar_container {background: #E91E63 url(../images/elements/header_elements_sidebar_container.png) no-repeat center center !important;}
		i.et_header_modal_container   {background: #E91E63 url(../images/elements/header_elements_fullscreen_container.png) no-repeat center center !important;}
		i.et_header_logo              {background: #E91E63 url(../images/elements/header_elements_logo.png) no-repeat center center !important;}
		i.et_search_toggle            {background: #E91E63 url(../images/elements/header_elements_search_icon.png) no-repeat center center !important;}
		i.et_search_form              {background: #E91E63 url(../images/elements/header_elements_search_form_icon.png) no-repeat center center !important;}
		i.et_cart_toggle              {background: #E91E63 url(../images/elements/header_elements_cart_icon.png) no-repeat center center !important;}
		i.et_megamenu                 {background: #E91E63 url(../images/elements/header_elements_megamenu.png) no-repeat center center !important;}
		i.et_language_switcher        {background: #E91E63 url(../images/elements/header_elements_language_icon.png) no-repeat center center !important;}
		i.et_login_toggle             {background: #E91E63 url(../images/elements/header_elements_login_icon.png) no-repeat center center !important;}
		i.et_header_slogan            {background: #E91E63 url(../images/elements/header_elements_slogan_icon.png) no-repeat center center !important;}
		i.et_header_social_links      {background: #E91E63 url(../images/elements/header_elements_social_icon.png) no-repeat center center !important;}
		i.et_header_icon              {background: #E91E63 url(../images/elements/header_elements_header_icon.png) no-repeat center center !important;}
		i.et_header_button            {background: #E91E63 url(../images/elements/header_elements_button_icon.png) no-repeat center center !important;}
		i.et_header_vertical_separator{background: #E91E63 url(../images/elements/header_elements_vertical_separator_icon.png) no-repeat center center !important;}

		i.et_megamenu_tab,
		i.et_megamenu_tab_item{
			background: #E91E63 url(../images/elements/header_elements_megamenu_tab.png) no-repeat center center !important;
		}

		i.et_mobile_menu,
		i.et_modal_menu,
		i.et_header_menu,
		i.et_sidebar_menu {
			background: #E91E63 url(../images/elements/header_elements_navigation.png) no-repeat center center !important;
		}

		i.et_mobile_toggle,
		i.et_modal_toggle {
			background: #E91E63 url(../images/elements/header_elements_menu_icon.png) no-repeat center center !important;
		}

		i.et_mobile_close,
		i.et_modal_close {
			background: #E91E63 url(../images/elements/header_elements_close_icon.png) no-repeat center center !important;
		}

	/* Title section
	----------------*/
		
		i.et_title_section_title    {background: #009688 url(../images/elements/title_section_title.png) no-repeat center center !important;}
		i.et_title_section_subtitle {background: #009688 url(../images/elements/title_section_subtitle.png) no-repeat center center !important;}
		i.et_breadcrumbs            {background: #009688 url(../images/elements/title_section_breadcrumbs.png) no-repeat center center !important;}

	/* Misc
	----------------*/

		.vc_ui-panel-window[data-vc-shortcode="vc_row"] li[data-tab-index="3"],
		.vc_ui-panel-window[data-vc-shortcode="vc_row_inner"] li[data-tab-index="2"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="element_id"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="element_css"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="mobile_css"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="tablet_css"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="element_font"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="subelement_font"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="etp_title"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="etp_subtitle"],
		#vc_ui-panel-edit-element *[data-vc-shortcode-param-name="etp_breadcrumbs"]{
			display: none !important;
		}

		body.post-type-header .vc_ui-panel-window[data-vc-shortcode="vc_row"] li[data-tab-index="3"],
		body.post-type-header .vc_ui-panel-window[data-vc-shortcode="vc_row_inner"] li[data-tab-index="2"],
		body.post-type-header .vc_ui-tabs-line .vc_edit-form-tab-control:nth-last-child(4) {
			display: block !important;
		}

		table.column-responsive-padding,
		table.responsive-visibility,
		table.responsive-parallax {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 20px;
		}

		table.column-responsive-padding th,
		table.responsive-visibility th,
		table.responsive-parallax th {
			padding: 20px;
		}

		table.column-responsive-padding td,
		table.responsive-visibility td,
		table.responsive-parallax td {
			padding: 20px;
			border:1px solid #e0e0e0;
		}

		table.column-responsive-padding td.title,
		table.responsive-visibility td.title,
		table.responsive-parallax td.title {
			background-color: #f8f8f8;
			font-weight: 700;
		}

		table.responsive-visibility td.checkbox,
		table.responsive-parallax td.checkbox {
			text-align: center;
		}

		.vc_ui-panel-content {
			margin-top:0 !important;
		}

		.vc_shortcode-param[data-vc-shortcode-param-name="fixed_bg"],
		.vc_shortcode-param[data-vc-shortcode-param-name="video_bg"],
		.vc_shortcode-param[data-vc-shortcode-param-name="animated_bg"],
		.vc_shortcode-param[data-vc-shortcode-param-name="top_gradient"],
		.vc_shortcode-param[data-vc-shortcode-param-name="grid_overlay"],
		.vc_shortcode-param[data-vc-shortcode-param-name="curtain_gradient"] {
			margin-top: 15px;
			border-top: 1px solid #e0e0e0;
		}

		.margin-box,
		.padding-box {
			position: relative;
			border:1px dotted #e0e0e0;
			width: 280px;
			height: 280px;
			margin:0;
			padding: 0;
		}

		.margin-box .element,
		.padding-box .element {
			position: absolute;
			width: 100px;
			height: 100px;
			background-color: #eeeeee;
			line-height: 100px;
			text-align: center;
			font-weight: 700;
			top: 50%;
			left: 50%;
			margin-left: -50px;
			margin-top: -50px;
		}

		.margin-box input,
		.padding-box input {
			position: absolute;
			width: 50px !important;
			height: 30px !important;
			text-align: center;
		}

		.margin-box input[name="margin-left"],
		.margin-box input[name="margin-right"],
		.padding-box input[name="padding-left"],
		.padding-box input[name="padding-right"] {
			top: 50%;
			margin-top: -15px;
			left: 20px;
		}

		.margin-box input[name="margin-right"],
		.padding-box input[name="padding-right"] {
			left: auto;
			right: 20px;
		}

		.margin-box input[name="margin-top"],
		.margin-box input[name="margin-bottom"],
		.padding-box input[name="padding-top"],
		.padding-box input[name="padding-bottom"] {
			left: 50%;
			margin-left: -25px;
			top: 20px;
		}

		.margin-box input[name="margin-bottom"],
		.padding-box input[name="padding-bottom"] {
			top: auto;
			bottom: 20px;
		}

		.admin-icon-list {
			margin:0;
			padding: 0;
			list-style:none;
		}

		.admin-icon-list li {
			margin:4px;
			padding: 0;
			display:inline-block;
			vertical-align: middle;
			width: 56px;
			height: 56px;
			line-height: 56px;
			text-align: center;
			font-size: 32px;
		}

		.admin-icon-list li span {
			padding: 0;
			display:block;
			width: inherit;
			height: inherit;
			line-height: inherit;
			cursor: pointer;
			color: #212121;
			border:2px solid #e0e0e0;
			transition: all 300ms ease-out;
		}

		.admin-icon-list li span.active,
		.admin-icon-list li span:hover {
			border:2px solid #0473aa;
		}